*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(45deg, #18426c, black);
    height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
}

.container{
    /*background-color: transparent;*/
    border: 2px solid #123;
    box-shadow: 0 0 20px #031e27;
    padding: 2rem 1.5rem;
}
.container h1{
    margin: 1rem 0;
    font-size: 28px;
}
.input1copyicon{
    background-color: white;
    width: 320px;
    height: 25px;
    margin: 2rem 0;
    position: relative;
}
.container #input-value{
    width: 320px;
    background-color: white;
    color: black;
    outline: none;
    border: none;
    margin-bottom: 1.5rem;
    padding: 8px 15px;
    font-size: 18px;
    text-overflow: ellipsis;
    border-radius: 12px 12px;
    -webkit-border-radius: 12px 12px;
    -moz-border-radius: 12px 12px;
    -ms-border-radius: 12px 12px;
    -o-border-radius: 12px 12px;
}
#copy-icon{
    color: black;
    position: absolute;
    top: -5px;
    right: 5px;
    margin-bottom: 1rem;
    padding: 15px 10px;
    font-size: 22px;
    border-radius: inherit;
    background-color: transparent;
    /*padding: 8px 10px;
    *//*margin: 1.5rem 0 -5px 0;
    */z-index: 50;
    cursor: pointer;
}
#input-range{
    accent-color: #0b6480;
    width: 320px;
    border: none;
    margin-bottom: 1px;
}
.container .passlen{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 2.5rem;
    width: 320px;
}
.container .passlen span{
    flex-basis: 58%;
    text-align: right;
    font-size: 18px;
}

.box{
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 300px; */
    /* position: relative; */
    font-size: 18px;
}
.box input[type="checkbox"]{
    text-align: right;
    width: 20%;
    margin-top: .8rem;
    accent-color: #0b6480;
    border: none;
    outline: none;
}
.box label{
    margin-top: -0.8rem;
}

#genBtn{
    background-color: #0b6480;
    color: white;
    padding: 8px 10px;
    font-size: 15px;
    letter-spacing: 1.6px;
    font-weight: 600;
    margin: 2rem 0 0 0;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    box-shadow: 2px 1px 5px #033d4f;
    width: 320px;
    border: none;

}
#genBtn:hover{
    cursor: pointer;
    background-color: #078bb3;
}